Repository jizhuozhi/hermes: changes, and which Codecov flags are due for each by the changed paths.
All: server, controller, gateway

fix(gateway): add missing domain_name arg to radix_tree test inserts
  gateway/src/routing/radix_tree.rs
Due: gateway

refactor(gateway): move rate_limit into proxy::filter submodule, remove middleware package
  gateway/src/lib.rs
  gateway/src/middleware/mod.rs
  gateway/src/middleware/rate_limit_tests.rs
  gateway/src/proxy/filter/mod.rs
  gateway/src/proxy/filter/rate_limit.rs
Due: gateway

style(gateway): fix cargo fmt in rate_limit tests
  gateway/src/proxy/filter/rate_limit.rs
Due: gateway

test(gateway): add unit tests for pure functions in handler, bootstrap, cluster, error
  gateway/src/error.rs
  gateway/src/proxy/handler.rs
  gateway/src/server/bootstrap.rs
  gateway/src/upstream/cluster.rs
Due: gateway

feat(web): add inline JSON editing mode to DomainEdit and ClusterEdit
  server/web/src/views/ClusterEdit.vue
  server/web/src/views/DomainEdit.vue
Due: server

cleanup: remove redundant comments and add test cases
  controller/internal/config/config_test.go
  gateway/src/config/types.rs
  gateway/src/proxy/context.rs
  gateway/src/proxy/filter/mod.rs
  gateway/src/upstream/loadbalance.rs
  gateway/tests/consul_integration.rs
  gateway/tests/etcd_integration.rs
  server/cmd/server/main.go
  server/internal/config/config_test.go
  server/internal/handler/builtin_auth.go
  server/internal/handler/cluster.go
  server/internal/handler/domain.go
  server/internal/handler/handler_test.go
  server/internal/handler/member.go
  server/internal/handler/middleware.go
  server/internal/handler/oidc.go
  server/internal/model/validate_test.go
  server/internal/store/pg.go
  server/internal/store/pg_test.go
  server/internal/store/store.go
  server/web/src/api.js
  server/web/src/views/Members.vue
  tests/auth_test.go
  tests/dataplane_test.go
  tests/sync_test.go
Due: server, controller, gateway

feat: add etcd-based leader election for controller HA
  controller/cmd/controller/main.go
  controller/config.yaml.example
  controller/go.mod
  controller/go.sum
  controller/internal/config/config.go
  controller/internal/config/config_test.go
  controller/internal/controller/controller.go
  controller/internal/controller/controller_test.go
  controller/internal/controller/election.go
  controller/internal/controller/heartbeat.go
  go.work.sum
  server/go.mod
  server/internal/store/pg.go
  server/internal/store/pg_test.go
  server/internal/store/store.go
  server/web/src/views/Status.vue
  tests/go.mod
  tests/go.sum
  tests/helpers_test.go
  tests/sync_test.go
Due: server, controller

feat: implement optimistic concurrency control (OCC) with resource_version
  server/internal/handler/cluster.go
  server/internal/handler/domain.go
  server/internal/handler/handler_test.go
  server/internal/store/pg.go
  server/internal/store/pg_test.go
  server/internal/store/store.go
  server/web/src/views/ClusterEdit.vue
  server/web/src/views/DomainEdit.vue
  tests/auth_test.go
Due: server

refactor: rename namespace to region for physical isolation semantics
  .gitignore
  README.md
  controller/config.yaml.example
  controller/internal/config/config.go
  controller/internal/config/config_test.go
  controller/internal/controller/controller.go
  controller/internal/controller/controller_test.go
  controller/internal/transport/transport.go
  controller/internal/transport/transport_test.go
  server/cmd/server/main.go
  server/internal/config/config.go
  server/internal/handler/audit.go
  server/internal/handler/cluster.go
  server/internal/handler/credential.go
  server/internal/handler/domain.go
  server/internal/handler/grafana.go
  server/internal/handler/handler_test.go
  server/internal/handler/json.go
  server/internal/handler/member.go
  server/internal/handler/middleware.go
  server/internal/handler/oidc.go
  server/internal/handler/route.go
  server/internal/handler/status.go
  server/internal/handler/watch.go
  server/internal/model/gateway.go
  server/internal/store/pg.go
  server/internal/store/pg_test.go
  server/internal/store/store.go
  server/web/src/App.vue
  server/web/src/api.js
  server/web/src/views/ClusterEdit.vue
  server/web/src/views/Credentials.vue
  server/web/src/views/Members.vue
  tests/auth_test.go
  tests/helpers_test.go
  tests/sync_test.go
Due: server, controller

Path conditions:
  server: any of: server/
  controller: any of: controller/
  gateway: any of: gateway/
